venv_project_2/
artifacts/raw/
artifacts/processed/
artifacts/model/
artifacts/model_checkpoint/
artifacts/weights/
ml_project_2.egg-info/

# Byte-compiled / optimized / DLL files
**/__pycache__/
*.pyc
*.pyd
*.so
*.egg